{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    Current category = {{ category }}
    <br/>
    All products with that category =<br/><br/>
    {% for product in category.products %}
        {{ product.title }}<br/>
{% endfor %}
{% endblock %}
